<%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
<section class="vh-25">
  <div class="container py-2 h-75">
    <div class="row d-flex align-items-center justify-content-center h-75">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
            <%= f.text_field :name, autofocus: true, class: 'form-control form-control-lg', id: 'form1Example13' %>
            <%= f.label :name, class: 'form_label' %>
          </div>


          <!-- Password input -->
          <div class="form-outline mb-4">
            <%= f.password_field :password, autofocus: true, class: 'form-control form-control-lg', id: 'form1Example23' %>
            <%= f.label :password, class: 'form_label' %>
          </div>


          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <% if devise_mapping.rememberable? -%>
            <div class="form-check">
              <%= f.check_box :remember_me, {:checked => true}, class: "form-check-input", id: "form1Example3" %>
              <%= f.label :remember_me, "Remember me", class: "form-check-label", for: "form1Example3" %>
            </div>
            <% end %>

            <a href="#!">Forgot password?</a>
          </div>

          <!-- Submit button -->
          <%= f.submit "Sign_in", class: 'btn btn-primary btn-lg btn-block' %>

          <div class="d-flex align-items-center justify-content-center pb-4">
            <p class="mb-0 me-4 mt-4 text-muted fs-4">Don't have an account?</p>
          </div>


          <div class="d-flex justify-content-center mx-3 mb-3 mb-lg-4">
          <%= link_to "CREATE NEW", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
          </div>
          <% end %>



        </form>
      </div>
      <%#= render "devise/shared/links" %>
    </div>
  </div>
</section>






<!--<h2>Log in</h2>-->

<!--<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--  <div class="field">-->
<!--    <%= f.label :email %><br />-->
<!--    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%= f.label :password %><br />-->
<!--    <%= f.password_field :password, autocomplete: "current-password" %>-->
<!--  </div>-->

<!--  <% if devise_mapping.rememberable? %>-->
<!--    <div class="field">-->
<!--      <%= f.check_box :remember_me %>-->
<!--      <%= f.label :remember_me %>-->
<!--    </div>-->
<!--  <% end %>-->

<!--  <div class="actions">-->
<!--    <%= f.submit "Log in" %>-->
<!--  </div>-->
<!--<% end %>-->


